appdirs==1.4.4
attrs==21.4.0
beautifulsoup4==4.10.0
bioservices==1.8.4
cattrs==1.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
colorlog==6.6.0
cycler==0.11.0
easydev==0.12.0
fonttools==4.31.2
gevent==21.12.0
greenlet==1.1.2
grequests==0.6.0
gseapy==0.10.8
idna==3.3
joblib==1.1.0
kiwisolver==1.4.0
lxml==4.8.0
matplotlib==3.5.1
nltk==3.7
numpy==1.22.2
packaging==21.3
pandas==1.2.5
pexpect==4.8.0
Pillow==9.0.1
ptyprocess==0.7.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
regex==2022.3.15
requests==2.27.1
requests-cache==0.9.3
scikit-learn==0.24.2
scipy==1.8.0
six==1.16.0
soupsieve==2.3.1
suds-community==1.1.0
threadpoolctl==3.1.0
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.63.0
treetaggerwrapper==2.3
typing_extensions==4.1.1
url-normalize==1.4.3
urllib3==1.26.8
wrapt==1.14.0
xmltodict==0.12.0
zope.event==4.5.0
zope.interface==5.4.0
